	:root {
	  font-family: 'Verdana', 'Segoe UI', Roboto, Oxygen, Ubuntu,
	    Cantarell, 'Open Sans', sans-serif;
	  --pure-white: #ffffff;
	  --primary-color: #edf0f8;
	  --secondary-color: #d0dde9;
	  --tertiary-color: #b9c6d2;
	  --accent-color: #ff3e00;
	  --heading-color: rgba(0, 0, 0, 0.7);
	  --text-color: #444444;
	}

	body {
	  min-height: 100vh;
	  margin: 15px;
	  background-color: var(--primary-color);
	  background: linear-gradient(180deg,
	      var(--primary-color) 0%,
	      var(--secondary-color) 10.45%,
	      var(--tertiary-color) 41.35%);
	}

	p,
	li,
	input {
	  color: var(--text-color);
	}